.artitalk_shuoshuo{
	position:absolute;
	width:80px;
	height:80px;
	float: left;
	top:-15px;
	left:-23px;
}
.artitalk_avatar gallery-group-img{
		border-radius:40%;
}
.activer {
    background-color: #49b1f5;
    padding: 10px 10px;
    border-radius: 6px;
    color: white;
}

#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
    background: #49b1f57a !important;
    margin-left: 25px !important;
    margin-bottom: 65px !important
}

#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel {
    background: #9bcD9B7a !important;
    box-shadow: none !important;
    margin-left: 25px !important;
    margin-bottom: 65px !important
}

#artitalk_main p.shuoshuo_time {
    border-top: 1px dashed #b1b1b1 !important
}

#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel:after {
    border-right-color: #9bcD9B7a !important
}

#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #49b1f57a !important
}

#artitalk_main .cbp_tmlabel:hover {
    box-shadow: none !important ;
    transform: translateY(0) !important;
}

.b-l {
    border-left: 1px solid hsl(0deg 0% 59% / 46%) !important;
}

.m-l-lg {
    margin-left: 35px !important
}

#artitalk_main #lazy {
    background: #fff0 !important
}

#artitalk_main .shuoshuo_author_img img {
    margin-left: -40px !important
}

#operare_artitalk .c2 {
    color: #e08f6c !important
}
#artitalk_main .shuoshuo_inputs {
    border: 1px solid #7d7d7d69 !important;
    margin-left: 4% !important;
    border-radius: 6px !important;
}

#artitalk_main .shuoshuo_text {
    width: 95% !important;
    border: 1px solid #7d7d7d69 !important;
    margin-left: 4% !important;
}

textarea#neirong {
    background-size: contain;
}